<div class="position-fixed parent-sidebar">

    <div class="sidebar ms-auto position-relative overflow-hidden">

        <div class="position-absolute w-100 up-section py-3 px-2 bg-info">
            <h3 class="p-2">Add Delivery Location</h3>
            <div class="d-flex align-items-center py-2 px-4 w-35 rond-circle " style="flex-shrink: 0;">
                <i class="fa-solid fa-search fs-5 mx-3 position-absolute text-secondary"></i>
                <input type="text" class="form-control ps-5 rond-circle" placeholder="Area, street or building">
            </div>
        </div>






        <div id="map" style="height: 100%; width: 100%;"></div> <!-- هنا تظهر الخريطة -->





        <div class="d-flex position-absolute w-100 btns py-3 px-2 bg-info">

            <button class="btn w-25 btn-light-blue">Back</button>
            <button class="btn w-75 ms-1 btn-blue">Yes, deliver to this location</button>
        </div>



        <div>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</div>