<div class="parent px-3">

    <!-- 
        <div class="m-5">
            <h1> hi </h1>
            <p> high</p>
        </div>


        <div class="m-5">
            <h1>{{ 'title' | translate }}</h1>
            <p>{{ 'greeting' | translate }}</p>
        </div>



        <div class="language-switcher">
            <button (click)="switchLanguage('en')" class="btn btn-primary">English</button>
            <button (click)="switchLanguage('ar')" class="btn btn-success">العربية</button>
        </div>
    -->



    <div class="row mt">
        <div class="col-md-6">
            <div class="my-3">
                <h2>Items related to your cart</h2>
                <owl-carousel-o [options]="customOptions" class="customOptionsCart">
                    <ng-container *ngFor="let slide of slidesStore">
                        <ng-template carouselSlide>
                            <div class="mx-1 p-2 d-flex justify-content-center align-items-center flex-column borderrdis bg-white"
                                style="height: 110px;">
                                <img [src]="slide.src" class=" w-100 h-75" alt="alt" [title]="slide.title">
                                <p class="mb-0" role="button" (click)="addToCart()">Add</p>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>


            <div class="d-md-block d-none">
                <p class="text-end ">2 items</p>

                <div class="row bg-white items px-2 justify-content-center align-items-center mb-3 ">

                    <div class="col-2 ">
                        <img class="w-100 cartImg" src="../../../assets/274533_main.jpg" alt="">
                    </div>

                    <div class="col-6 p-0 ">
                        <div class="">
                            <p class="mb-0">Beyti Full Cream Milk - 900 ml</p>
                            <p class="mb-0">EGP <span>107.85</span></p>
                            <del class="mb-0">EGP <span>140.85</span></del>
                        </div>
                    </div>

                    <div class="col-4 d-flex">
                        <div class="out-icon" (click)="decrement()">
                            <i class="icon fa-solid fa-minus"></i>
                        </div>
                        <!-- قائمة منسدلة (dropdown) تحتوي على القيم المختارة -->
                        <select [(ngModel)]="selectedValue" class="w-50 mx-3 text-center">
                            <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                        </select>
                        <div class="out-icon" (click)="increment()">
                            <i class="icon fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>


















                <div class="row bg-white items px-2 justify-content-center align-items-center mb-3">

                    <div class="col-2 ">
                        <img class="w-100 cartImg" src="../../../assets/274533_main.jpg" alt="">
                    </div>

                    <div class="col-6 p-0 ">
                        <div class="">
                            <p class="mb-0">Beyti Full Cream Milk - 900 ml</p>
                            <p class="mb-0">EGP <span>107.85</span></p>
                            <del class="mb-0">EGP <span>140.85</span></del>
                        </div>
                    </div>

                    <div class="col-4 d-flex">
                        <div class="out-icon" (click)="decrement()">
                            <i class="icon fa-solid fa-minus"></i>
                        </div>
                        <!-- قائمة منسدلة (dropdown) تحتوي على القيم المختارة -->
                        <select [(ngModel)]="selectedValue" class="w-50 mx-3 text-center">
                            <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                        </select>
                        <div class="out-icon" (click)="increment()">
                            <i class="icon fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>













                <div class="row bg-white items px-2 justify-content-center align-items-center mb-3">

                    <div class="col-2">
                        <img class="w-100 cartImg" src="../../../assets/323519_main.jpg" alt="">
                    </div>

                    <div class="col-6 p-0">
                        <div class="">
                            <p class="mb-0">Beyti Full Cream Milk - 900 ml</p>
                            <p class="mb-0">EGP <span>107.85</span></p>
                            <del class="mb-0">EGP <span>140.85</span></del>
                        </div>
                    </div>

                    <div class="col-4 d-flex">
                        <div class="out-icon" (click)="decrement()">
                            <i class="icon fa-solid fa-minus"></i>
                        </div>
                        <!-- قائمة منسدلة (dropdown) تحتوي على القيم المختارة -->
                        <select [(ngModel)]="selectedValue" class="w-50 mx-3 text-center">
                            <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                        </select>
                        <div class="out-icon" (click)="increment()">
                            <i class="icon fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>








            <div class="d-md-none d-block">
                <p class="text-end ">2 items</p>

                <div class="row bg-white items px-2 justify-content-center align-items-center mb-3 ">

                    <div class="col-3 h-100">
                        <img class="w-100 cartImg" src="../../../assets/274533_main.jpg" alt="">
                    </div>

                    <div class="col-9 p-0 ">
                        <div class=" px-1">
                            <p class="mb-0">Beyti Full Cream Milk - 900 ml</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    <p class="my-0 fw-bold">EGP <span class="d-block my-0">107.85</span></p>
                                </div>
                                <div class="d-flex">
                                    <div class="out-icon" (click)="decrement()">
                                        <i class="icon fa-solid fa-minus"></i>
                                    </div>
                                    <!-- قائمة منسدلة (dropdown) تحتوي على القيم المختارة -->
                                    <select [(ngModel)]="selectedValue" class="w-50 mx-3 text-center">
                                        <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                                    </select>
                                    <div class="out-icon" (click)="increment()">
                                        <i class="icon fa-solid fa-plus"></i>
                                    </div>
                                </div>

                            </div>
                            <!-- <del class="mb-0">EGP <span>140.85</span></del> -->
                        </div>
                    </div>


                </div>

            </div>


            <div class="mt-3">
                <p>No replacement found for 1 item</p>
                <div class="row outStock  justify-content-center align-items-center mb-3 px-2">

                    <!-- <div class="col-3 position-relative">
                        <div class="position-relative">

                            <img class="w-100  cartImg bg-info" src="../../../assets/274533_main.jpg" alt="">
                            <div class="overlay"></div>
                        </div>

                        <p class="position-absolute OOS p-1">out of stock</p>
                    </div>
                     -->







                    <div class="col-2 position-relative d-none d-md-block">
                        <div class="position-relative py-1 ">
                            <img class="w-100 cartImg" src="../../../assets/274533_main.jpg" alt="">
                            <!-- <div class="overlay"></div> -->
                        </div>

                        <p class="position-absolute OOS py-1">out of stock</p>
                    </div>




                    <!-- mobile -->
                    <div class="col-3 position-relative d-md-none d-block">
                        <div class="position-relative py-1 ">
                            <img class="w-100 cartImg" src="../../../assets/274533_main.jpg" alt="">
                            <!-- <div class="overlay"></div> -->
                        </div>

                        <p class="position-absolute OOS py-1">out of stock</p>
                    </div>



                    <div class="col-6 ">
                        <div class="disc">
                            <p class="mb-0">Beyti Full Cream Milk - 900 ml</p>

                        </div>
                    </div>

                    <div class="col-4 text-end p-0 d-none d-md-block ">
                        <button class="btn base-btn-bg-light-color w-75">Remove</button>
                    </div>

                    <!-- mobile -->
                    <div class="col-3 text-end p-0 d-md-none d-block">
                        <button class="btn base-btn-bg-light-color">Remove</button>
                    </div>


                </div>
            </div>


            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-0 fw-bold">Subtotal</p>
                    <p class="mb-0 fw-bold">EGP 2,340.00</p>
                </div>
                <div>
                    <button class="btn base-btn-bg-color">Checkout NOW</button>
                </div>
            </div>



        </div>

        <div class="col-md-6 checkout" [ngStyle]="{'left': currentLang === 'en' ? '55%' : '10%'}">

            <h2>Order Summary </h2>
            <div class="row bg-white items p-2 py-4 justify-content-center align-items-center mb-3">

                <div class="col-6">
                    <div class="">
                        <p class="mb-0 fw-bold">EGP <span>107.85</span></p>
                        <p class="mb-0">(inclusive of VAT)</p>
                    </div>
                </div>

                <div class="col-6">
                    <button class="btn base-btn-bg-color w-100 py-2">Checkout all</button>
                </div>
            </div>

            <div class="text-center">
                <p>Available payment methods </p>
                <img src="../../../assets/download.png" alt="">
            </div>
        </div>
    </div>

    

</div>