























.in-fotter{
    max-width: 1350px;
    margin: auto;
}

.footer{
    background-color: #0e5aa7;
    color: #ffffff;
    
}

.btop{
    background-color: #083a6d;
}

.cov-ico-foot{
    background-color: rgba(0,0,0,0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.app{
    max-width: 1350px;
    margin: auto;

}

















///////////////////////////////////////////////////////////////////////////////////////////////












.accordion-button {
background-color: #0e5aa7;
color: #ddd;
border: none;
}



.accordion-body{
    background-color: #083a6d;
    color: #ddd;
}