<div class="footer">
    <div *ngIf="isHomePage" class="btop w-100" (click)="scrollToTop()">
        <!-- <div class="btop w-100" > -->
        <p role="button" class="text-center py-2">BACK TO TOP</p>
    </div>


    <div class="row in-fotter d-none d-lg-flex pt-3">
        <div class="col-3">
            <img src="../../../assets/22-011.png" class="w-50" alt="">
            <p>Stay in touch with us</p>
            <div class="d-flex">
                <div class="cov-ico-foot d-flex justify-content-center align-items-center  mx-1 "><i
                        class="fa-brands fa-facebook-f"></i></div>
                <div class="cov-ico-foot d-flex justify-content-center align-items-center  mx-1 "><i
                        class="fa-brands fa-twitter"></i></div>
                <div class="cov-ico-foot d-flex justify-content-center align-items-center  mx-1 "><i
                        class="fa-brands fa-instagram"></i></div>
                <div class="cov-ico-foot d-flex justify-content-center align-items-center  mx-1 "><i
                        class="fa-brands fa-youtube"></i></div>
            </div>
        </div>


        <div class="col-2">
            <h5>Customer service</h5>

            <p class="mb-0">Service and Warranty</p>
            <p class="mb-0">Returns and Exchanges</p>
            <p class="mb-0"> secured online payment</p>
            <p class="mb-0"> shipping & delivery</p>
            <p class="mb-0"> Cash on Delivery</p>
            <p class="mb-0"> Cookies Settings</p>
        </div>



        <div class="col-2">
            <h5>About Us</h5>
            <p class="mb-0">About Majid Al Futtaim
            </p>


            <p class="mb-0">About Carrefour</p>
            <p class="mb-0">About Majid Al Futtaim Carrefour & Society
            </p>
            <p class="mb-0">Newsletter
            </p>
        </div>




        <div class="col-2">
            <h5> Helping you save
            </h5>

            <p class="mb-0">Extended Warranty Retail
            </p>

            <p class="mb-0">MyClub Program
            </p>
        </div>




        <div class="col-3">
            <h5> Help & Support
            </h5>
            <p class="mb-0">Contact Us
            </p>
            <p class="mb-0">Terms & Conditions
            </p>
            <p class="mb-0">Anti-Fraud Disclaimer
            </p>
            <p class="mb-0">Responsible Disclosure Policy
            </p>
            <p class="mb-0">FAQs
            </p>
            <p class="mb-0">Find A Store
            </p>
            <p class="mb-0">Privacy Policy
            </p>
        </div>







    </div>


    <div class="accordion d-lg-none " id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Customer service
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <p class="mb-0">Service and Warranty</p>
                    <p class="mb-0">Returns and Exchanges</p>
                    <p class="mb-0"> secured online payment</p>
                    <p class="mb-0"> shipping & delivery</p>
                    <p class="mb-0"> Cash on Delivery</p>
                    <p class="mb-0"> Cookies Settings</p>



                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    About Us </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="mb-0">About Majid Al Futtaim
                    </p>


                    <p class="mb-0">About Carrefour</p>
                    <p class="mb-0">About Majid Al Futtaim Carrefour & Society
                    </p>
                    <p class="mb-0">Newsletter
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Helping you save </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="mb-0">Extended Warranty Retail
                    </p>

                    <p class="mb-0">MyClub Program
                    </p>
                </div>
            </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Help & Support
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="mb-0">Contact Us
                    </p>
                    <p class="mb-0">Terms & Conditions
                    </p>
                    <p class="mb-0">Anti-Fraud Disclaimer
                    </p>
                    <p class="mb-0">Responsible Disclosure Policy
                    </p>
                    <p class="mb-0">FAQs
                    </p>
                    <p class="mb-0">Find A Store
                    </p>
                    <p class="mb-0">Privacy Policy
                    </p>
                </div>
            </div>
        </div>



    </div>



    <div class="app mt-4 pb-3 d-none d-lg-block">

        <div class="d-flex ms-auto justify-content-start align-items-center w-25 ">
            <p class="mb-0">Download Our App</p>
            <img src="../../../assets/app_store_ios_f40b1630bfweb_2aebd07a1c.svg" class="w-25 mx-2" alt="">
            <img src="../../../assets/google_play_acbf35dweb_046378895a.svg" class="w-25" alt="">
        </div>
    </div>
</div>