<div class="base-color base-bg-color base parent d-md-block d-none">

    <div class=" w-custom m-auto px-3">

        <div class="d-flex py-3 pb-0 justify-content-between align-items-center">

            <div class="d-flex align-items-center justify-content-center p-2 w-15" style="flex-shrink: 0;">
                <img src="../../../assets/22-011.png" class="w-100 " style="height: 60px;" alt="" [routerLink]="'/home'">
            </div>

            <div class="d-flex align-items-center p-1 w-35 rond-circle position-relative">
                <i class="fa-solid fa-search position-absolute fs-5 mx-3 text-secondary"></i>
                <input type="text" class="form-control ps-5 rond-circle"
                    [attr.placeholder]="'searchPlaceholder' | translate"
                    [ngClass]="{'text-end': selectedLanguage === 'ar' }">
            </div>

            <div class="d-flex align-items-center p-2 bord" style="flex-shrink: 0;" (click)="show()">
                <i class="fa-solid fa-location-dot fs-4 mx-2"></i>
                <div>
                    <p class="mb-0 fs">{{"delivery" | translate}}</p>
                    <h6 class="mb-0 fs1">Maadi - Cairo</h6>
                </div>
            </div>

            <div class="d-flex align-items-center p-2 bord" style="flex-shrink: 0;" [routerLink]="'login'">
                <i class="fa-regular fa-user fs-4 mx-2"></i>
                <p class="p-0 m-0 fs">{{"loginInNav" | translate}}</p>
            </div>

            <div class="d-flex align-items-center justify-content-center rounded p-2" style="flex-shrink: 0;"
                (click)="showLoc()">
                <i class="fa-solid fa-earth-americas fs-4"></i>
                <!-- <i class="fa-solid fa-earth-americas"></i> -->
            </div>

            <div class="d-flex align-items-center justify-content-center rounded p-2" role="button"
                [routerLink]="'cart'" style="flex-shrink: 0;">
                <i class="fa-solid fa-cart-plus fs-4"></i>
            </div>
        </div>


        <div class="d-flex justify-content-start mt-3 mb-0 pb-0 " (mouseleave)="onMouseLeave($event)">
            <p class="px-2 hov-link pb-3 mb-0" (mouseenter)="enter=true">All Categories</p>
            <p class="px-2 hov-link pb-3 mb-0" (mouseenter)="enter=true" (click)="goToDetails('Food Cupboard')">Food
                Cupboard</p>
            <p class="px-2 hov-link pb-3 mb-0" (mouseenter)="enter=true" (click)="goToDetails('Fresh Food')">Fresh Food
            </p>
            <p class="px-2 hov-link pb-3 mb-0" (mouseenter)="enter=true" (click)="goToDetails('Fruits & Vegetables')">
                Fruits & Vegetables</p>
            <p class="px-2 hov-link pb-3 mb-0" (mouseenter)="enter=true" (click)="goToDetails('Beverages')">Beverages
            </p>
            <p class="px-2 hov-link pb-3 mb-0" (mouseenter)="enter=true"
                (click)="goToDetails('Electronics & Appliances')">Electronics & Appliances</p>
            <p class="px-2 hov-link pb-3 mb-0" (mouseenter)="enter=true" (click)="goToDetails('Baby Products')">Baby
                Products</p>
        </div>

    </div>

</div>


<div *ngIf="enter" class="hover-box">
    <div class="in-hov" (mouseenter)="enter=true" (mouseleave)="enter=false">

        <div class="w-100 row p-3">
            <div class="col-4 mt-5">
                <p class="mb-0"> Biscuits, Crackers & Cakes
                </p>
                <p class="mb-0"> Premuim Biscuits
                </p>
                <p class="mb-0"> Coated Biscuits & Wafers
                </p>
                <p class="mb-0"> Crackers & Crispbread
                </p>
                <p class="mb-0"> Digestives & Assorted Biscuits
                </p>
                <p class="mb-0"> Filled Biscuits
                </p>
                <p class="mb-0"> Rusk
                </p>
                <p class="mb-0"> Cakes,Cupcake & Muffins
                </p>
                <p class="mb-0"> Tins, Jars & Packets
                </p>
                <p class="mb-0"> Coconut Milk
                </p>
                <p class="mb-0"> Coconut Cream
                </p>
                <p class="mb-0"> Canned Meat
                </p>
                <p class="mb-0"> Soup & Instant Noodles
                </p>
                <p class="mb-0"> Canned Vegetables
                </p>
                <p class="mb-0"> Pickles & Olives
                </p>
                <p class="mb-0"> Powdered Milk
                </p>
                <p class="mb-0"> Tuna & Seafood
                </p>

            </div>


            <div class="col-4 mt-5">
                <p class="mb-0"> Biscuits, Crackers & Cakes
                </p>
                <p class="mb-0"> Premuim Biscuits
                </p>
                <p class="mb-0"> Coated Biscuits & Wafers
                </p>
                <p class="mb-0"> Crackers & Crispbread
                </p>
                <p class="mb-0"> Digestives & Assorted Biscuits
                </p>
                <p class="mb-0"> Filled Biscuits
                </p>
                <p class="mb-0"> Rusk
                </p>
                <p class="mb-0"> Cakes,Cupcake & Muffins
                </p>
                <p class="mb-0"> Tins, Jars & Packets
                </p>
                <p class="mb-0"> Coconut Milk
                </p>
                <p class="mb-0"> Coconut Cream
                </p>
                <p class="mb-0"> Canned Meat
                </p>
                <p class="mb-0"> Soup & Instant Noodles
                </p>
                <p class="mb-0"> Canned Vegetables
                </p>
                <p class="mb-0"> Pickles & Olives
                </p>
                <p class="mb-0"> Powdered Milk
                </p>
                <p class="mb-0"> Tuna & Seafood
                </p>

            </div>



            <div class="col-4 mt-5">
                <p class="mb-0"> Biscuits, Crackers & Cakes
                </p>
                <p class="mb-0"> Premuim Biscuits
                </p>
                <p class="mb-0"> Coated Biscuits & Wafers
                </p>
                <p class="mb-0"> Crackers & Crispbread
                </p>
                <p class="mb-0"> Digestives & Assorted Biscuits
                </p>
                <p class="mb-0"> Filled Biscuits
                </p>
                <p class="mb-0"> Rusk
                </p>
                <p class="mb-0"> Cakes,Cupcake & Muffins
                </p>
                <p class="mb-0"> Tins, Jars & Packets
                </p>
                <p class="mb-0"> Coconut Milk
                </p>
                <p class="mb-0"> Coconut Cream
                </p>
                <p class="mb-0"> Canned Meat
                </p>
                <p class="mb-0"> Soup & Instant Noodles
                </p>
                <p class="mb-0"> Canned Vegetables
                </p>
                <p class="mb-0"> Pickles & Olives
                </p>
                <p class="mb-0"> Powdered Milk
                </p>
                <p class="mb-0"> Tuna & Seafood
                </p>

            </div>
        </div>
    </div>
</div>


<div class="d-md-none d-block w-100 p-2 bg-white position-fixed tel-nav">

    <div class="d-flex justify-content-between align-items-center my-2">

        <div class="w-25 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-bars icon" (click)="showSidebar()"></i>
            <img src="../../../assets/22-011.png" class="w-75" alt="" [routerLink]="'/home'">
        </div>


        <div class="d-flex justify-content-between align-items-center w-25 ">
            <i class="fa-solid fa-circle-user  fs-3 icon" [routerLink]="'login'"></i>
            <i class="fa-solid fa-earth-americas fs-3 icon" (click)="showLoc()"></i>
            <i class="fa-solid fa-cart-plus  fs-3 icon" [routerLink]="'cart'"></i>

        </div>

    </div>


    <div class="d-flex align-items-center w-100 rond-circle " style="flex-shrink: 0;">
        <i class="fa-solid fa-search position-absolute fs-5 mx-3 text-secondary"></i>
        <input type="text" class="form-control ps-5 rond-circle" [attr.placeholder]="'searchPlaceholder' | translate"
            [ngClass]="{'text-end': selectedLanguage === 'ar' }">
    </div>




    <div class="d-flex align-items-center p-2 " style="flex-shrink: 0;" (click)="show()">
        <i class="fa-solid fa-location-dot fs-4 mx-2"></i>
        <div>
            <p class="mb-0 fs">{{"delivery" | translate}}</p>
            <h6 class="mb-0 fs1">Maadi - Cairo</h6>
        </div>
    </div>






</div>





<div class="bg-white sidebar" *ngIf="hide">

    <div class="py-4 px-3 d-flex justify-content-end" >
        <i class="fa-solid fa-xmark fs-4 text-start" (click)="hideSidebar()"></i>
    </div>

    <div class="d-flex align-items-center py-3 mx-3 " style="flex-shrink: 0;" [routerLink]="'login'">
        <i class="fa-regular fa-user fs-4 mx-2" ></i>
    </div>
    <div class="separator"></div>

    <div class="">
        <div class="d-flex justify-content-between align-items-center py-3 mx-3 border-bottom">
            <p class="mb-0">All Categories</p>
            <i *ngIf="selectedLanguage !== 'ar'" class="fa-solid fa-arrow-right" (click)="showCategoriesSide()"></i>
            <i *ngIf="selectedLanguage === 'ar'" class="fa-solid fa-arrow-left" (click)="showCategoriesSide()"></i>
        </div>

        <div class="border-bottom py-3 mx-3" *ngFor="let category of categories">
            <p class="mb-0">{{category.name}}</p>
        </div>

    </div>

    <div class="separator"></div>


    <div class="">
        <div class="py-3 mx-3 border-bottom">
            <p class="mb-0">Need Help? (16061)</p>
        </div>

        <div class="py-3 mx-3 border-bottom">
            <p class="mb-0" (click)="switchLanguageOverAll()">{{GetLanguage()}}</p>
        </div>

    </div>

</div>







<div class="bg-white categorybar" *ngIf="showCategories">

    <div class="py-4 px-3 d-flex align-items-center">
        <i *ngIf="selectedLanguage !== 'ar'" class="fa-solid fa-arrow-left fs-4 text-start" (click)="hideCategoriesSide()"></i>
        <i *ngIf="selectedLanguage === 'ar'" class="fa-solid fa-arrow-right fs-4 text-start" (click)="hideCategoriesSide()"></i>
        <p class="mb-0 mx-3">{{"Navbar.allCategories" | translate}}</p>

    </div>

    <div class="d-flex align-items-center py-3 mx-3 " style="flex-shrink: 0;" [routerLink]="'login'">
        <i class="fa-regular fa-user fs-4 mx-2"></i>
    </div>
    <div class="separator"></div>




        <div class="border-bottom py-3 mx-3" *ngFor="let category of categories">
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">{{ category.name }}</p>
                <i class="fa" [ngClass]="getCategoryIconClass(category.id)" (click)="toggleCategory(category.id)">
                </i>
            </div>
        
            <div *ngIf="expandedCategories[category.id]" class="transition-height">
                <div *ngFor="let subCategory of category.subCategories">
                    <div class="d-flex justify-content-between align-items-center py-2 mx-3">
                        <p class="mb-0">{{ subCategory.name }}</p>
                        <i class="fa" [ngClass]="getSubCategoryIconClass(category.id, subCategory.id)" (click)="toggleSubCategory(category.id, subCategory.id)"></i>
                    </div>
        
                    <div *ngIf="expandedCategories[getSubCategoryKey(category.id, subCategory.id)]" class="ps-3 transition-height">
                        <ul>
                            <li *ngFor="let subSubCategory of subCategory.subSubCategories">{{ subSubCategory.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        

    

</div>