<div class="parent px-3 ">


    <div class="row">




        <div class="col-md-3 px-4 mt-3 mb-5 bg-white d-md-block d-none">
            <!-- Deals Section -->
            <div class="d-flex justify-content-between align-items-center py-2 " (click)="toggleSection('deals')">
                <h5 class="mb-0">Deals</h5>
                <i class="fa-solid icon" [ngClass]="isSectionActive('deals') ? 'fa-minus' : 'fa-plus'"></i>
            </div>
            <div *ngIf="isSectionActive('deals')" class="options p-0 ps-1 mb-4">
                <label>
                    <input type="checkbox" class="me-2" /> Deal 1
                </label>
                <label>
                    <input type="checkbox" class="me-2" /> Deal 2
                </label>
                <label>
                    <input type="checkbox" class="me-2" /> Deal 3
                </label>
            </div>

            <!-- Category Section -->
            <div class="d-flex justify-content-between align-items-center py-2 " (click)="toggleSection('category')">
                <h5 class="mb-0">Category</h5>
                <i class="fa-solid icon" [ngClass]="isSectionActive('category') ? 'fa-minus' : 'fa-plus'"></i>
            </div>
            <div *ngIf="isSectionActive('category')" class="options p-0 ps-1 mb-4">
                <label>
                    <input type="checkbox" class="me-2" /> Category 1
                </label>
                <label>
                    <input type="checkbox" class="me-2" /> Category 2
                </label>
                <label>
                    <input type="checkbox" class="me-2" /> Category 3
                </label>
            </div>

            <!-- Brand Section -->
            <div class="d-flex justify-content-between align-items-center py-2 " (click)="toggleSection('brand')">
                <h5 class="mb-0">Brand</h5>
                <i class="fa-solid icon" [ngClass]="isSectionActive('brand') ? 'fa-minus' : 'fa-plus'"></i>
            </div>
            <div *ngIf="isSectionActive('brand')" class="options p-0 ps-1 mb-4">
                <label class="">
                    <input type="checkbox" class="me-2" /> Brand 1
                </label>
                <label>
                    <input type="checkbox" class="me-2" /> Brand 2
                </label>
                <label>
                    <input type="checkbox" class="me-2" /> Brand 3
                </label>
            </div>
        </div>


        <div class="col-md-9 mt-3">

            <div class="d-flex justify-content-between d-md-flex d-none">
                <div>

                    <h2 class="fw-bold">Fresh Food</h2>
                    <p>781 Results</p>
                </div>
                <div class="dropdown">
                    <button class="dropdown-btn" (click)="toggleDropdown()">
                        {{'in-category.sortBy' | translate}}
                        <span [innerHTML]="arrow" class="arrow px-3"></span>
                    </button>
                    <div *ngIf="isDropdownVisible" class="dropdown-content">
                        <a href="#" (click)="selectOption('Relevance')">{{'in-category.sortList.relevance' | translate}}</a>
                        <a href="#" (click)="selectOption('Price (lowest first)')">{{'in-category.sortList.priceL' | translate}}</a>
                        <a href="#" (click)="selectOption('Price (highest first)')">{{'in-category.sortList.priceH' | translate}}</a>
                    </div>
                </div>


            </div>

            <!--     mobile    -->

            <div class="d-flex justify-content-between d-md-none d-block ">
                <div class=" d-flex align-items-center">
                    <p class="mb-0">781 Results</p>
                </div>
                <div [ngClass]="clicked ? 'out-deals-clicked' : 'out-deals'" (click)="deals()">


                    <button class="btn btn-blue2">Today's Deals</button>


                </div>


            </div>




            <div class="mt-3">

                <div class="mb-5">

                    <div class="row">
                        <div class="col-md-3 col-6 pad-x-1 mb-3 " *ngFor="let slide of slidesStore">
                            <div class="card card-bord w-100 position-relative" style="width: 18rem;" (click)="goToProductDetails()">


                                <owl-carousel-o [options]="customOptions3" class="customOptions4"
                                    style="height: 200px;">

                                    <ng-container *ngFor="let slide of slidesStore2">
                                        <ng-template carouselSlide>
                                            <img [src]="slide.src" class="w-75 m-auto" style="height: 200px;" alt="...">
                                        </ng-template>
                                    </ng-container>

                                </owl-carousel-o>


                                <div class="card-add base-btn-bg-color"><i class="fa-solid fa-plus"></i></div>
                                <div class="card-off">
                                    <p class="mb-0 text-danger">14%</p>
                                    <p class="mb-0 text-danger">Off</p>
                                </div>
                                <div class="card-body" >
                                    <div class="d-flex align-items-center">
                                        <h5 class="card-title">14</h5>
                                        <div class="ms-1">
                                            <p class="m-0 fs1">0.25</p>
                                            <p class="m-0 fs1">EGP</p>
                                        </div>
                                    </div>
                                    <p class="text-danger"><del class="del fs1 text-dark">EGP170.50</del> 19% OFF
                                    </p>
                                    <p class="card-text">Some quick...</p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="text-center mb-5">
                        <button class="m-auto btn btn-outline-blue p-2 px-4"> {{'in-category.load' | translate}} </button>

                    </div>



                </div>

            </div>


        </div>

    </div>





    <div class="position-fixed d-flex justify-content-center align-items-center fil-sor d-flex d-md-none w-75 ">

        <div class="filter py-3 d-flex justify-content-center align-items-center w-50" (click)="filter()">
            <p class="mb-0 px-1">{{'in-category.filter' | translate}}</p>
            <i class="fa-solid fa-filter px-2"></i>
        </div>

        <div class="sort py-3 d-flex justify-content-center align-items-center w-50" (click)="sort()">
            <p class="mb-0 px-1">{{'in-category.sort' | translate}}</p>
            <i class="fa-solid fa-sort px-2"></i>
        </div>

    </div>


    <div class="in-sort" [ngClass]="sortClicked?'d-flex':'d-none'">
        <div class="bg-white position-relative data-in-sort p-3">
            <h5 class="text-center">{{'in-category.sortBy' | translate}}</h5>

            <label class="my-3 p-0 d-flex align-items-center">
                <input type="radio" name="option" [(ngModel)]="selectedOption" value="option1" /> {{'in-category.sortList.relevance' | translate}}
            </label>
            <label class="my-3 p-0 d-flex align-items-center">
                <input type="radio" name="option" [(ngModel)]="selectedOption" value="option2" /> {{'in-category.sortList.priceL' | translate}}
            </label>
            <label class="my-3 p-0 d-flex align-items-center">
                <input type="radio" name="option" [(ngModel)]="selectedOption" value="option3" /> {{'in-category.sortList.priceH' | translate}}
            </label>


            <div class="out-x " (click)="sortClosed()">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>






    <div class="in-filter" [ngClass]="filterClicked?'d-flex':'d-none'">

        <div class="bg-white position-relative data-in-filter p-3">
            <h5 class="text-center bg-white">{{'in-category.filterBy' | translate}}</h5>



            <div class="overflow-auto ov-auto-in-filter">


                <div *ngIf="isSectionActive('deals')" class="options p-0 ps-1 mb-4">
                    <label>
                        <input type="checkbox" class="me-2" /> Deal 1
                    </label>
                    <label>
                        <input type="checkbox" class="me-2" /> Deal 2
                    </label>
                    <label>
                        <input type="checkbox" class="me-2" /> Deal 3
                    </label>
                </div>

                <div class="d-flex justify-content-between align-items-center py-2 "
                    (click)="toggleSection('category')">
                    <h5 class="mb-0">Category</h5>
                    <i class="fa-solid icon" [ngClass]="isSectionActive('category') ? 'fa-minus' : 'fa-plus'"></i>
                </div>

                <div *ngIf="isSectionActive('category')" class="options p-0 ps-1 mb-4">
                    <label>
                        <input type="checkbox" class="me-2" /> Category 1
                    </label>
                    <label>
                        <input type="checkbox" class="me-2" /> Category 2
                    </label>
                    <label>
                        <input type="checkbox" class="me-2" /> Category 3
                    </label>
                </div>

                <div class="d-flex justify-content-between align-items-center py-2 " (click)="toggleSection('brand')">
                    <h5 class="mb-0">Brand</h5>
                    <i class="fa-solid icon" [ngClass]="isSectionActive('brand') ? 'fa-minus' : 'fa-plus'"></i>
                </div>


                <div *ngIf="isSectionActive('brand')" class="options p-0 ps-1 mb-4">
                    <label class="">
                        <input type="checkbox" class="me-2" /> Brand 1
                    </label>
                    <label>
                        <input type="checkbox" class="me-2" /> Brand 2
                    </label>
                    <label>
                        <input type="checkbox" class="me-2" /> Brand 3
                    </label>
                </div>


            </div>






            <div class="d-flex position-absolute btns py-3 px-2 bg-white">

                <button class="btn w-50 base-btn-bg-light-color  fw-bold">{{'in-category.filterList.resetBtn' | translate}}</button>
                <button class="btn w-50 ms-1 base-btn-bg-color text-white  fw-bold">{{'in-category.filterList.showBtn' | translate}}</button>
            </div>





            <div class="out-x" (click)="filterClosed()">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

</div>